h1 {
    font-family: 'Chelsea Market', cursive;
}

p {
    background-color: #DDB9A3;
    font-family: 'Roboto Mono', monospace;
}

.red-button {
    background-color: #FF764E;
}

.blue-button {
    background-color: #5ED3EB;
}

.yellow-button {
    background-color: #FFCD69;
}

footer {
    background-color: #F9E7DC;
}