@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* general styles */
h1 {
    display: inline;
    font-family: 'Chelsea Market', cursive;
    font-size: 3rem;
    text-align: center;
}

html{
    font-size:62.5%;
}
body{
    font-size:1.8rem;
    line-height:1.5;
    margin-left: 5%;
    margin-right: 5%;

}
.container{
    width: 600px;
    margin: 0 auto;
    padding: 20px 0px 0px;
  }
.top-nav {
    text-align: center;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-right: 10%;
    padding-top: 0.5em;
    width: 80%;
    height: auto;
}
button {
    padding: 10px;
    border-radius: 8px;
    color:#fff;
    background-color:#1976d2;
    font-size:1.1em;
    border:0;
    cursor:pointer;
    margin:1em;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}
.bttnr {
    background-color: #FF754E;
}
.bttnb {
    background-color: #5FD3EC;
}
.bttny {
    background-color: #FFCD6A;
}
header .headline {
    display:inline-block;
    text-align: center;
    width: 420px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.header-image {
    display: inline-block;
    border-radius: 50%;
    max-width: 60px;
    height: auto;
}

.subtext {
    width: 240px;
    font-size: 1.1rem;
}

.opening-text {
    display: inline-block;
    border-style: dotted;
    border-width: 3px;
    border-color: white;
    text-align: center;
    font-size: 2em;
    color: #000000;
    margin-left: 10%;
    margin-right: 10%;
}
.intro-text {
    display: inline-block;
    font-size: 1.8em;
    font-weight: lighter;
    text-align: justify;
    vertical-align: middle;
    padding-left: 50px;
    letter-spacing: 2px; 
}
.first-section {
    padding: 5px;
    width: 95%;
    background-color: #DDB9A3;
}
.text-box {
    color: white;
    margin: 40px 0;
    padding: 20px;
}
.second-section {
    padding: 5px;
    font-size: 1.8rem;
    margin-bottom: 10px;
    margin-top: 10px;
}
.fire {
    display: block;
    margin: 0px auto 0px;
    width: 70px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.truck-image {
    padding: 10px 10px 10px 10px;
    display: inline;
    width: 150px;
    border-radius: 100%;
}

footer {
    display: inline-block;
    text-align: center;
    margin-left: 10%;
    margin-right: 5%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 80%;
    height: auto;
    background-color: #DDB9A3;

}

.footer-image {
    margin-bottom: 5px;
    width: 600px;
    height: 133px;
    object-fit: center;
    object-position: 0% -30px;
}